img {
    height: 100px;
}

header {
    display: flex;
}

 .header-btn {
     padding: 40px 10px 41px 10px;
     color: white;
}

#test {
    background-color: chartreuse;
}

.header-btn:hover {
    background-color: aqua;
}

a {
    text-decoration: none;
}

.video {
    background-color: skyblue;
    height: 80vh;
    margin: 60px 108px auto;
}

body {
    background-image: url("bg.gif");
      background-repeat: no-repeat;
  background-size: cover;
     background-attachment: fixed;
}